@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap";

$font-family-serif: "Roboto", sans-serif;

$text-color: #011e5d;
$bg-color: #ffe7cc;
$bg-color-aside: #f2cda3;
$bg-color-header: #fff;
$text-color-footer: #fff;
$bg-color-footer: #011e5d;
$text-color-items: #756d6d;
